{% extends "network/layout.html" %}
{% load static %}
{% block body %}

    <div id="net-feed">
        <h3 id="net-feed-name">Following and Posts</h3>
        <div id="net-profile">
        </div>
        {% if user.is_authenticated %}
        <div id="net-newpost">
            <form class="input-group" id="message-form">
                {% csrf_token %}
                <textarea class="form-control" id="message-body" aria-label="With textarea"></textarea>
                <div class="input-group-append">
                    <button id="send-message" class="btn btn-primary">Send</button>
                </div>
            </form>
            <hr>
        </div>  
        {% endif %}       
        <div id="net-feed-area">
        </div>
    </div>


{% endblock %}


{% block script %}
    <script type="text/javascript">
        DJANGO_STATIC_URL = '{{ STATIC_URL }}';
    </script>
    <script src="{% static 'network/index.js' %}"></script> 
{% endblock %}