{% extends "layout.html" %}

{% block title %}
    Main Page
{% endblock %}

{% block main %}
    <div class="container">     
        {% if username %}
        <div class="row">
            <div class="col-md">
                <br>
                <h2><div id="helloUser">You joined as </div></h2>
                <form>
                    <fieldset">
                        <div class="form-group">
                            <input id="inputChannelName" autocomplete="off" autofocus class="form-control" placeholder="Channel name" type="text"/>
                        </div>
                        <div class="form-group">
                            <button id="createChannelButton" type="submit" class="btn btn-primary">Add channel</button>
                        </div>
                    </fieldset> 
                </form>
                <br>
                <div id="channelList"></div>
            </div>
        </div>  
        {% else %}     
        <div class="row">
            <div class="col-md">
                <br>
                <form method="post">
                    <fieldset>
                        <div class="form-group">
                            <input name="username" autocomplete="off" autofocus class="form-control" placeholder="Nickname" type="text"/>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary" type="submit">Input nickname</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
        {% endif %}
    </div>

{% endblock %}