{% extends "layout.html" %}

{% block title %}
    Main Page
{% endblock %}

{% block main %}
    <div class="container-fluid">     
        {% if username %}
        <div class="gree row">
            <div class="pink col-xs">
                <form>
                    <fieldset">
                        <div class="form-group">
                            <input id="inputChannelName" autocomplete="off" autofocus class="form-control" placeholder="Channel name" type="text"/>
                        </div>
                        <div class="form-group">
                            <button id="createChannelButton" type="submit" class="btn btn-primary">Add channel</button>
                        </div>
                        <div class="form-group">
                            <button id="spam" type="submit" class="btn btn-primary">Go and spam</button>
                        </div>
                    </fieldset> 
                </form>
                <div id="channelList">
                </div>
            </div>
            <div class="col-lg">
                <div class="row orange">
                    <div class="col-md">
                        <br> 
                        <h4><div id="titleChannel" class="red">Channel #</div></h4>
                        <br> 
                        <h2><div id="helloUser">You joined as </div></h2>
                        <br>
                        <br>
                    </div>
                </div>
                <div class="row">
                    <hr>
                    <div class="col-md" id="channel-chat">
                        No messages found.
                    </div>
                    <br><br>
                </div>
                <div class="row">
                    <div class="col-md" id="message-in-chat"> 
                    </div>
                </div>
            </div>
        </div>
        
        {% else %}     
        <div class="row">
            <div class="col-md">
                <br>
                <form method="post">
                    <fieldset>
                        <div class="form-group">
                            <input name="username" autocomplete="off" autofocus class="form-control" placeholder="Nickname" type="text"/>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary" type="submit">Input nickname</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
        {% endif %}
    </div>

{% endblock %}