{% extends "layout.html" %}

{% block title %}
    Results
{% endblock %}

{% block main %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">Year</th>
                <th scope="col">ISBN</th>
            </tr>
        </thead>
        <tbody>
        {% for row in rows %}
            <tr>
                <td>{{ row["id"] }}</td>
                <td><a href="/books/{{ row["id"] }}">{{ row["title"] }}</a></td>
                <td>{{ row["author"] }}</td>
                <td>{{ row["year"] }}</td>
                <th scope="row"><a href="/api/{{ row["isbn"] }}">{{ row["isbn"] }}</a></th>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}