{% extends "layout.html" %}

{% block title %}
    User posts
{% endblock %}

{% block main %}
    <div class="container">
        {% if getpost %}
        {% for post in getpost %}
        <div class="row infobook">
            <div class="card bg-light col-10">
                <div class="card-header"><h5>Book title: <b><a href="/books/{{ post["book_id"] }}">{{ post.title }}</a></b></h5></div>
                <div class="card-body">
                    <h5>User score: {{ post.score }}</h5>
                    <h5 class="card-title">Review:</h5>
                    <p class="card-text">{{ post.review }}</p>
                    <p class="card-text infobook-r">Posted by {{ username }} {{ post.to_char }}</p>
                </div>
            </div>
            <div class="col-sm">
                <form action="/user_posts" method="post">
                    <button name="delete" type="submit" value="{{ post.book_id }}" class="btn btn-outline-primary">Delete</button>
                </form>
            </div>
        </div>
        <br>
        {% endfor %}
        {% elif not getpost %}
        <h5>Reviews not found.</h1>       
        {% endif %} 

    </div>
{% endblock %}